
@{
    ViewBag.Title = "Ref";
    Layout = "~/Views/Shared/_OwnLayout.cshtml";
}

<h2>Ref</h2>

<P>
    <b>Modified by: Rafin Abrar Rono</b>
</P>
<a href="https://www.github.com/RafinRono/ASP.NET">Go to Github</a>

<p>Current: @DateTime.Now</p>
