
@{
    ViewBag.Title = "Hello Testing";
}

<h2>Hello there</h2>
@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) <br/>
@Html.ActionLink("Information", "Information", "Home", new { area = "" }, new { @class = "nav-link" })

