
@{
    ViewBag.Title = "Information Page";
}

<h2>Information Page</h2>
@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) <br/>
@Html.ActionLink("Hello", "Hello", "Home", new { area = "" }, new { @class = "nav-link" })
