
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

<form method="post">
    <select class="form-control" name="Sid">
        <option disabled selected>--Select Student--</option>
        @foreach (var c in Model)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>

    <input type="submit" name="Submit" class="btn btn-primary" />
</form>