
@{
    ViewBag.Title = "CreateCategory";
}

<h2>CreateCategory</h2>

<form method="post">
    <input type="text" name="Name" value="" class="form-control" placeholder="Name" />
    <input type="submit" value="Add" class="btn btn-primary" />
</form>