
@{
    ViewBag.Title = "DeleteCategory";
}

<h2>DeleteCategory</h2>

<form method="post">
    <!-- <input type="hidden" name="Id" value="@Model.Id" /> -->
    Name: <input type="text" disabled name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    <br />
    <h3 class="text-danger"> Are you sure you want to Delete? </h3>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="/Home/CategoryIndex" class="btn btn-secondary">Cancel</a>
</form>